.square{
	width: 50px;
	height: 50px;

}

.texttop{
	margin-left: 300px;
}

.j1{
	margin-top: 10px;
	margin-left: 25px;

}

.j2{
	margin-top: 10px;
	margin-left: 25px;

}

.textleft{
	margin-left: 20px;
}

.game{
	
	margin-left: 300px;
}